<div class="container text-center">

  <h3 class="text-center">Pick a Job</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">ALL</a></li>
    <li><a data-toggle="tab" href="#menu1">Architect</a></li>
    <li><a data-toggle="tab" href="#menu2">Structural Engineer</a></li>
    <li><a data-toggle="tab" href="#menu3">Civil Engineer</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <br>
      <div class="row dropdown clearfix pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Reorder
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
              <li>
                <%= link_to("by lower bound of salary", jobs_path(:order => "by_lower_bound")) %>
              </li>
              <li>
                  <%= link_to("by upper bound of salary", jobs_path(:order => "by_upper_bound")) %>

              </li>
              <li>
                <%= link_to("by publish time", jobs_path ) %>

              </li>
          </ul>
      </div>
      <br>
      <br>
      <br>
      <% @jobs.each do |job| %>
      <div class="row">
        <div class="col-sm-4">
          <%= link_to(job.title, job_path(job)) %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <%= job.address %>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-money" aria-hidden="true"></i>
          짜<%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
        </div>
        <div class="col-sm-4">
          <%= job.category %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= job.contact_email %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= job.created_at %>
        </div>
      </div>
      <hr>
      <% end %>
      <div class="text-center">
        <%= will_paginate @jobs %>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <br>
      <% @jobs_a.each do |job| %>
      <div class="row">
        <div class="col-sm-4">
          <%= link_to(job.title, job_path(job)) %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <%= job.address %>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-money" aria-hidden="true"></i>
          짜<%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
        </div>
        <div class="col-sm-4">
          <%= job.category %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= job.contact_email %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= job.created_at %>
        </div>
      </div>
      <hr>
      <% end %>
      <div class="text-center">
        <%= will_paginate @jobs_a %>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <br>
      <% @jobs_s.each do |job| %>
      <div class="row">
        <div class="col-sm-4">
          <%= link_to(job.title, job_path(job)) %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <%= job.address %>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-money" aria-hidden="true"></i>
          짜<%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
        </div>
        <div class="col-sm-4">
          <%= job.category %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= job.contact_email %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= job.created_at %>
        </div>
      </div>
      <hr>
      <% end %>
      <div class="text-center">
        <%= will_paginate @jobs_s %>
      </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      <br>
      <% @jobs_c.each do |job| %>
      <div class="row">
        <div class="col-sm-4">
          <%= link_to(job.title, job_path(job)) %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <%= job.address %>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-money" aria-hidden="true"></i>
          짜<%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
        </div>
        <div class="col-sm-4">
          <%= job.category %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= job.contact_email %>
        </div>
        <div class="col-md-4">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= job.created_at %>
        </div>
      </div>
      <hr>
      <% end %>
      <div class="text-center">
        <%= will_paginate @jobs_c %>
      </div>
    </div>
  </div>
</div>
