<div class="container">


<h1> Edit a job </h1>


<%= simple_form_for [:admin,@job] do |f| %>

<%= f.input :title, :label => "Name" %>
<%= f.input :category, :label => "category" %>
<%= f.input :description, :label => "Discreption" %>
<%= f.input :address, :label => "City" %>
<%= f.input :is_hidden, :label => "hidden or not" %>
<%= f.input :wage_lower_bound, :label => "wage lower bound" %>
<%= f.input :wage_upper_bound, :label => "wage upper bound" %>
<%= f.input :contact_email, :label => "contact" %>
<%= f.input :is_hidden, :label => "hidden or not" %>

  <%= f.submit "Submit", :class=> "btn btn-default btn-sm" %>
<% end %>

</div>
